# Created by .ignore support plugin (hsz.mobi)
/.idea/
/target/
/GNetServer.iml
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
GNetServer.iml
target/
